.control-label1{
    font-size: large;
}


.md-small{
    min-height: 3px;
    min-width: 25px;
    line-height: 20px;
}

.md-default{
    color: rgba(255,255,255,0.87) !important;
    background-color: rgb(106, 109, 125) !important;
}
.md-danger{
    color: rgba(255,255,255,0.87) !important;
    background-color: rgb(134, 28, 36) !important;
}
.md-success{
    color: rgba(255,255,255,0.87) !important;
    background-color: #5cb85c !important;
}



.autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}
.autocomplete-custom-template li:last-child {
    border-bottom-width: 0;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
    display: block;
    line-height: 2;
}
.autocomplete-custom-template .item-title md-icon {
    height: 18px;
    width: 18px;
}

.removetop{
    top: 0px !important;
}

.default-theme {
    background: #4f5467;
}

#FAB {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

/*
a {
    color: #5f0b2e !important;
    text-decoration: none;
}
*/

.present{
    color: green;
}

.absent{
    color: #ff2906;
}

.halfday{
    color: orange;
}
